<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.SecretDelta.delta">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Delta"
        tools:targetApi="31">
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.UserProfile"
            android:exported="false" />
        <activity
            android:name=".Activities.SignIn"
            android:exported="false" />
        <activity
            android:name=".Activities.SignUp"
            android:exported="false" />
        <activity
            android:name=".Activities.EditEvent"
            android:exported="false" />
        <activity
            android:name=".Activities.NewCalendarEvent"
            android:exported="false" />
        <activity
            android:name=".Activities.AddTaskActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activities.EditTaskActivity"
            android:exported="false"
            android:windowSoftInputMode="stateAlwaysHidden|adjustPan" />
        <activity
            android:name=".Activities.CalendarPopup"
            android:exported="false"
            android:theme="@style/Theme.Delta.PopUpTheme" />
        <activity
            android:name=".Activities.TaskRemindActivity"
            android:exported="false"
            android:theme="@style/Theme.Delta.TaskRemindTheme" />
        <activity
            android:name=".Activities.DestinationActivity"
            android:exported="false" />
        <activity
            android:name=".Activities.TaskOverviewActivity"
            android:exported="false"
            android:theme="@style/Theme.Delta.PopUpTheme" />
        <activity
            android:name=".Activities.PomodoroReports"
            android:exported="false" />
        <activity
            android:name=".Activities.PomodoroSettings"
            android:exported="false" />

        <receiver android:name=".Activities.TaskRemindReceiver" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>